In [2]:
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib
import json
import math
import time

In [2]:
df_active_site = pd.read_excel('active_site_annotation.xlsx',header=[0],index_col=[0])
df_active_site.head()

,Entry,Entry name,Organism,Length,Active site num,Active site type,Active site residue,Sequence,UniRep
0,O35815,ATX3_RAT,Rattus norvegicus (Rat),355,14,2,C,MESIFHEKQEGSLCAQHCLNNLLQGEYFSPVELSSIAHQLDEEERL...,NaN
1,O35815,ATX3_RAT,Rattus norvegicus (Rat),355,119,5,H,MESIFHEKQEGSLCAQHCLNNLLQGEYFSPVELSSIAHQLDEEERL...,NaN
2,O94760,DDAH1_HUMAN,Homo sapiens (Human),285,173,4,H,MAGLGHPAAFGRATHAVVRALPESLGQHALRSAKGEEVDVARAERQ...,NaN
3,O94760,DDAH1_HUMAN,Homo sapiens (Human),285,274,2,C,MAGLGHPAAFGRATHAVVRALPESLGQHALRSAKGEEVDVARAERQ...,NaN
4,Q540U1,APHA_SALTM,Salmonella typhimurium,237,69,2,D,MKKITLALSAVCLLFTLNHSANALVSSPSTLNPGTNVAKLAEQAPV...,NaN

In [3]:
# df_active_site.groupby(by=['Active site residue','Active site type'],axis=0)['Length'].count()
df_grouped = df_active_site.groupby(by=['Active site residue','Active site type'],axis=0)['Length'].count()
df_percent = (df_grouped / df_grouped.sum(level=0) )* 100.
df_percent = df_percent[['C','D','E','H','K','R','S','T','Y']]
df_percent = df_percent.to_frame()
# df_percent.reset_index()

In [4]:
aa_list = df_percent.index.get_level_values(0).unique().tolist()
index = pd.MultiIndex.from_product([aa_list, np.arange(1,6)])
new_df = pd.DataFrame(0. ,index=index, columns = ['Frequency'])
new_df=new_df.reset_index()
new_df.head()

  level_0  level_1  Frequency
0       C        1        0.0
1       C        2        0.0
2       C        3        0.0
3       C        4        0.0
4       C        5        0.0

In [5]:
merged_df = pd.merge(new_df, df_percent, left_on=['level_0','level_1'], right_on=['Active site residue','Active site type'],how='outer')

In [6]:
merged_df = merged_df.drop('Frequency',axis=1).fillna(0.)
merged_df.head()

  level_0  level_1     Length
0       C        1   0.000000
1       C        2  65.350812
2       C        3   0.000000
3       C        4  24.638761
4       C        5  10.010428

In [7]:
actsite_1 =  merged_df[merged_df['level_1'] == 1]['Length'].tolist()
actsite_2 =  merged_df[merged_df['level_1'] == 2]['Length'].tolist()
actsite_3 =  merged_df[merged_df['level_1'] == 3]['Length'].tolist()
actsite_4 =  merged_df[merged_df['level_1'] == 4]['Length'].tolist()
actsite_5 =  merged_df[merged_df['level_1'] == 5]['Length'].tolist()

In [59]:
len(df_active_site)

56097

In [164]:
df_groupby_entry = df_active_site.groupby(['Entry','Active site residue'],axis=0).agg({"Active site type": "nunique"})
len_nonunique_rep = len(df_groupby_entry[df_groupby_entry['Active site type'] > 1])

In [169]:
print ('Number of non-unique protein-amino acid representations with different representations: ', len_nonunique_rep)

Number of non-unique protein-amino acid representations with different representations:  2949

In [113]:
len(df_active_site.groupby(['Entry'])['Length'].count())

41860

In [170]:
df_groupby_entry[df_groupby_entry['Active site type'] > 1]

                                Active site type
Entry      Active site residue
A0A024SIB3 E                                   2
A0A0U4EBH5 E                                   2
A0AG16     D                                   2
A0AIX9     D                                   2
A0AKC4     C                                   2
A0AZQ0     C                                   2
A0B6C1     C                                   2
A0B7W4     D                                   2
A0JUZ7     D                                   2
A0K3V7     D                                   2
A0KFI1     C                                   2
A0KJ20     D                                   2
A0KKB4     D                                   2
A0KS65     C                                   2
A0KV50     D                                   2
A0KWB1     D                                   2
A0L8S5     H                                   2
A0LCF2     D                                   2
A0LE31     C                                   2
A0LFR2     D                                   2
A0LHK5     D                                   2
A0LK96     H                                   2
A0LTS5     D                                   2
A0LUZ5     C                                   2
A0LXW0     H                                   2
A0M284     D                                   2
A0MTQ2     S                                   2
A0NXQ7     C                                   2
A0PL52     H                                   2
A0PLU7     K                                   2
...                                          ...
Q9X2H4     H                                   2
Q9XIW1     E                                   2
Q9XUE6     D                                   2
Q9Y7F8     E                                   2
Q9YB03     H                                   2
Q9Z186     H                                   2
Q9Z2M7     D                                   2
Q9Z833     C                                   2
Q9Z8W5     D                                   2
Q9Z8Z9     D                                   2
Q9ZAG3     D                                   2
Q9ZCK8     D                                   2
Q9ZDB7     C                                   2
Q9ZHE2     D                                   2
Q9ZHE4     D                                   2
Q9ZJ29     H                                   2
Q9ZJ75     D                                   2
Q9ZKY8     D                                   2
Q9ZLR5     C                                   2
Q9ZMF4     D                                   2
Q9ZQA4     D                                   2
Q9ZQG9     E                                   2
Q9ZSU4     E                                   2
Q9ZTP5     D                                   2
Q9ZV40     E                                   2
Q9ZVJ5     D                                   2
Q9ZVK1     E                                   2
V9TXH2     E                                   2
W0HFK8     E                                   2
W0HJ53     E                                   2

[2949 rows x 1 columns]

In [174]:
df_active_site[df_active_site['Entry'] == 'A0A0U4EBH5']

,Entry,Entry name,Organism,Length,Active site num,Active site type,Active site residue,Sequence,UniRep
2602,A0A0U4EBH5,CELDZ_THESZ,Thermoanaerobacterium sp.,385,192,4,E,MNKWHINKWYFFVGMLVIFAVIISLILKDTSLTFSSYDREKFPHLI...,NaN
2603,A0A0U4EBH5,CELDZ_THESZ,Thermoanaerobacterium sp.,385,294,2,E,MNKWHINKWYFFVGMLVIFAVIISLILKDTSLTFSSYDREKFPHLI...,NaN

In [179]:
seq = df_active_site[df_active_site['Entry'] == 'A0A0U4EBH5']['Sequence'][2602]

In [185]:
seq[190:193]

'NEP'

In [187]:
seq[292:295]

'TEW'

In [5]:
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
label_fontsize = 16

def autolabel(rects, n_round=1, fontsize=16):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{0:.{1}f}%'.format(height, n_round),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points", fontsize=fontsize,
                    ha='center', va='bottom')

In [40]:
act_site_type_codes = {'Charge relay system':1,
                       'Nucleophile':2,
                       'Electrophile':3,
                       'Proton donor':4,
                       'Proton acceptor':5}
labels = ['cysteine','aspartic acid','glutamic acid','histidine','lysine','arginine','serine','threonine','tyrosine']
x = np.arange(len(labels))  # the label locations
width = 0.15  # the width of the bars
fig, ax = plt.subplots(figsize=(14,10))
rects1 = ax.bar(x - 2*width, actsite_1, width, label='Charge relay system',edgecolor='black')
rects2 = ax.bar(x - width, actsite_2, width, label='Nucleophile',edgecolor='black')
rects3 = ax.bar(x , actsite_3, width, label='Electrophile',edgecolor='black')
rects4 = ax.bar(x + width, actsite_4, width, label='Proton donor',edgecolor='black')
rects5 = ax.bar(x + 2* width, actsite_5, width, label='Proton acceptor',edgecolor='black')

ax.set_xlabel('Amino acids', fontsize=label_fontsize+6)
ax.set_ylabel('Percentage of sites', fontsize=label_fontsize+6)
ax.yaxis.set_major_formatter(mtick.PercentFormatter())
ax.tick_params(axis="y", labelsize=label_fontsize)
# ax.set_yticklabels( fontsize=label_fontsize)
ax.set_xticks(x)
ax.set_xticklabels(labels, fontsize=label_fontsize, rotation=90)
ax.legend(fontsize=label_fontsize)
# plt.show()
plt.savefig('residue_function_dist.pdf',dpi=400,bbox_inches='tight')
plt.close()

In [16]:
label_fontsize = 24 
labels = ['64 unit/4 layer','256 unit/4 layer','1900 unit/1 layer']
dmpnn_test = np.array([0.5878366, 0.64383805, 0.8576779]) * 100. # converted to %
rdkit_test = np.array([0.5931871, 0.6411628, 0.85821295]) * 100. # converted to %
onehot_test = np.array([0.59051186, 0.6441948, 0.85642946]) * 100. # converted to %
onehotneigh_test = np.array([0.6497236, 0.69966114, 0.8796148]) * 100. # converted to %
x = np.arange(len(labels))  # the label locations
width = 0.20  # the width of the bars
fig, ax = plt.subplots(figsize=(14,10))
rects1 = ax.bar(x - 3*width/2, dmpnn_test, width, label='D-MPNN',edgecolor='black',color='blue')
rects2 = ax.bar(x - width/2, rdkit_test, width, label='RDKit',edgecolor='black',color='orangered')
rects3 = ax.bar(x + width/2, onehot_test, width, label='one-hot',edgecolor='black',color='forestgreen')
rects4 = ax.bar(x + 3*width/2, onehotneigh_test, width, label='embedded one-hot',edgecolor='black',color='magenta')


ax.set_xlabel('mLSTM architecture', fontsize=label_fontsize+6, labelpad=10)
ax.set_ylabel('Clasification accuracy in test set', fontsize=label_fontsize+6)
ax.yaxis.set_major_formatter(mtick.PercentFormatter())
ax.tick_params(axis="y", labelsize=label_fontsize)
# ax.set_yticklabels( fontsize=label_fontsize)
ax.set_xticks(x)
ax.set_xticklabels(labels, fontsize=label_fontsize)
ax.legend(fontsize=label_fontsize, ncol=2)

autolabel(rects1, fontsize=14)
autolabel(rects2, fontsize=14)
autolabel(rects3, fontsize=14)
autolabel(rects4, fontsize=14)


# plt.show()
plt.savefig('one_layer_results.pdf',dpi=400,bbox_inches='tight')

plt.close()

In [20]:
label_fontsize=24
labels = ['64 unit/4 layer','256 unit/4 layer','1900 unit/1 layer']
one_hot_neigh_one_layer = np.array([0.59051186,0.6441948,0.85642946]) * 100. # converted to %
one_hot_neigh_two_layer = np.array([0.6497236, 0.69966114, 0.8796148]) * 100. # converted to %
x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars
fig, ax = plt.subplots(figsize=(14,10))
rects1 = ax.bar(x - width/2, one_layer, width, label='Top model: 1 layer',edgecolor='black',color='magenta')
rects2 = ax.bar(x + width/2, two_layer, width, label='Top model: 2 layer',edgecolor='black',color='gray')

ax.set_xlabel('mLSTM architecture', fontsize=label_fontsize+6,labelpad=10)
ax.set_ylabel('Clasification accuracy in test set', fontsize=label_fontsize+6)
ax.yaxis.set_major_formatter(mtick.PercentFormatter())
ax.tick_params(axis="y", labelsize=label_fontsize)
# ax.set_yticklabels( fontsize=label_fontsize)
ax.set_xticks(x)
ax.set_xticklabels(labels, fontsize=label_fontsize)
ax.legend(fontsize=label_fontsize)

autolabel(rects1)
autolabel(rects2)

# plt.show()
plt.savefig('two_layer_results.pdf',dpi=400,bbox_inches='tight')

plt.close()